RewriteEngine on
RewriteRule ^registration$ /reg.html
RewriteRule ^restore$ /restorePassword.html
RewriteRule ^id([0-9]+)$ /tpl/page.html?id=

RewriteCond %{HTTP_HOST} ^www.vreale.ru$ [NC]
RewriteRule ^(.*)$ https://vreale.ru/$1 [R=301,L]

RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 400 /errors.php
ErrorDocument 403 /errors.php
ErrorDocument 404 /errors.php
ErrorDocument 405 /errors.php
ErrorDocument 408 /errors.php
ErrorDocument 500 /errors.php
ErrorDocument 502 /errors.php
ErrorDocument 504 /errors.php